interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://solr-qas-catalogi.apps.do-prd-okp-m0.do.viaa.be/solr/admin/collections?action=LISTALIASES&wt=json
  response:
    body:
      string: '{"responseHeader":{"status":0,"QTime":0},"aliases":{"metadatacatalogus-standby":"metadatacatalogus-2","cataloguspro-standby":"cataloguspro-1","metadatacatalogus":"metadatacatalogus-1","cataloguspro":"cataloguspro-2","metadatacatalogus-sync":"metadatacatalogus-1","cataloguspro-sync":"cataloguspro-1"}}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: <delete><query>*:*</query></delete>
    headers:
      Content-type:
      - text/xml; charset=utf-8
    method: POST
    uri: http://solr-qas-catalogi.apps.do-prd-okp-m0.do.viaa.be/solr/cataloguspro-standby/update
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <response>

        <lst name="responseHeader"><int name="status">0</int><int name="QTime">79</int></lst>

        </response>

        '
    headers:
      Content-Type:
      - application/xml; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://solr-qas-catalogi.apps.do-prd-okp-m0.do.viaa.be/solr/admin/collections?action=CREATEALIAS&name=cataloguspro-sync&collections=cataloguspro-1&wt=json
  response:
    body:
      string: '{"responseHeader":{"status":0,"QTime":245}}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://solr-qas-catalogi.apps.do-prd-okp-m0.do.viaa.be/solr/admin/collections?action=LISTALIASES&wt=json
  response:
    body:
      string: '{"responseHeader":{"status":0,"QTime":0},"aliases":{"metadatacatalogus-standby":"metadatacatalogus-2","cataloguspro-standby":"cataloguspro-1","metadatacatalogus":"metadatacatalogus-1","cataloguspro":"cataloguspro-2","metadatacatalogus-sync":"metadatacatalogus-1","cataloguspro-sync":"cataloguspro-1"}}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
