  <html>
   <head>
      <style>
        body{
          background-color: #ffffff; 
          color: #333333;
          margin: auto;
          width: 1024px;
          padding: 1em;
        }
        h1, h2, h3, h4 {
          color: #007487;
        }
        a {
          color: #007487;
        }
        pre {
          background-color: #ddefef;
          border: 1px solid #5ca8af;
          padding: 1em;
          padding-bottom: 0;
          border-radius: 5px;
        }
        label {
          display:inline-block;
          width: 5em;
          text-align: right;
        }
        form {
          padding: 0.5em;
          border: 2px solid #007487;
          border-radius: 3px;
          background-color: #fff;
          width: 22em;
        }
        input {
          margin: 0.5em;
          width: 18em;
        }
        input[type=submit]{
          width: 14em;
          margin-left: 10.8em;
        }
      </style>
   </head>
   <body>
      
     <h1>Syncrator-API</h1>
     <h4>(Environment: {{environment}})</h4>

     <p>For POST and DELETE calls that alter state, you need to also pass an access token in the Authorization header.</p>
     <p>
      Use the form here to get your access token:
     </p>
     <form action="/login" method="POST">

         <label>Username</label>
         <input name="username"/> <br/>

         <label>Password</label>
         <input name="password" type="password"/>

         <br/>
       <input type="submit" value="Request access token"/>

     </form>
     <p>
      When calling delete, or create jobs you pass in the 'access_token' in an 'Authorization' header
      and add the word 'Bearer'. For instance if your token is 'xyz' your header should be
      -H 'Authorization: Bearer xyz'. For the GET calls and dryrun calls you don't need a token which
      makes it easier to craft your requests before worrying about authorization.
     </p>
     <p>
     You can also request a token from the commandline with curl by issueing a POST request to the /login route
     and just pass in username and password as form parameters : 
      <pre>
$ curl -X POST http://syncrator-api-qas-shared-components.apps.do-prd-okp-m0.do.viaa.be/login \
  -F "username=somelogin@meemoo.be" \
  -F "password=PW_HERE"
      </pre>
     </p>

     <ul>
        <li><a href="/jobs?page=1"> GET /jobs </a> 
           - paginated list of active api started jobs 
        </li>
        
        <li><a href="/jobs/1"> GET /jobs/&lt;id>  </a> 
           - get api job and related sync_job details and progress 
        </li>

        <li>DELETE /jobs/&lt;id>  
           - get api job, set status to "deleted" and run 
             openshift oc call to delete any openshift jobs 
             started with these parameters.<br/>
             Example: 
              curl -X DELETE -H 'Authorization: Bearer access_token' http://localhost:8080/jobs/123
        </li>

        <li><a href="/sync_jobs?page=1"> GET /sync_jobs </a>
           - paginated list of all sync jobs 
             (these include syncrator runs started with CRON)
        </li>
        <br/>
     </ul>

     <h2>Managing syncrator jobs</h2>
      <ul>
        <li>GET /delta/&lt;project>
           - delta synchronisation job dryrun : shows configuration but doesn't really run a pod
        </li>
        
        <li> POST /delta/&lt;project>             
          - start a new delta synchronisation job: runs actual openshift syncrator pod
        </li>
        <br/>

        <li>GET /delete/&lt;project>
          - delete synchronisation job dryrun
        </li>
        <li> POST /delete/&lt;project>            
          - start a new delete synchronisation job (delete removes items not present anymore in target)
        </li>
        <br/>

        <li>GET /diff/&lt;project>
          - dryrun for delta followed by delete in one go for partial updates
        </li>
        <li> POST /diff/&lt;project>             
          - start delta job followed by a delete job
        </li>
        <br/>

        <li>GET /sync/&lt;project> 
          - full synchronisation job dryrun
        </li>
        <li> POST /sync/&lt;project>             
          - start a new full synchronisation job
        </li>
        <br/>
      </ul>

      <p>The <b>project</b> parameter can be one of these currently:
      <b>avo, avosubtitles, cataloguspro, metadatacatalogus</b>
      <br/>
      But more might be added. To get an updated list look at the <a href="https://do-prd-okp-m0.do.viaa.be:8443/console/project/shared-components/browse/config-maps">openshift config maps
      defined for each syncrator project</a> 
      </p>
      

      <h2>Example: AVO jobs sync to postgres in shared.items</h2>
      <ul>
        <li><a href="/delta/avo">GET /delta/avo</a> 
           - delta synchronisation job dryrun
        </li>
        
        <li> POST /delta/&lt;project>             
          - start a new delta synchronisation job
        </li>
        <br/>

        <li><a href="/delete/avo">GET /delete/avo</a> 
          - delete synchronisation job dryrun
        </li>
        <li> POST /delete/&lt;project>            
          - start a new delete synchronisation job
        </li>
        <br/>

        <li><a href="/diff/avo">GET /diff/avo</a> 
          - dryrun for delta followed by delete in one go for partial updates
        </li>
        <li> POST /diff/&lt;project>             
          - start delta job followed by a delete job
        </li>
        <br/>

        <li><a href="/sync/avo">GET /sync/avo</a> 
          - full synchronisation job dryrun
        </li>
        <li> POST /sync/&lt;project>             
          - start a new full synchronisation job
        </li>
        <br/>
      </ul>



      <h2>Example: AVO subtitle jobs sync to postgres in shared.collateral</h2>
      <ul>
        <li><a href="/delta/avosubtitles">GET /delta/avosubtitles</a> 
           - delta synchronisation job dryrun
        </li>
        
        <li> POST /delta/&lt;project>             
          - start a new delta synchronisation job
        </li>
        <br/>

        <li><a href="/delete/avosubtitles">GET /delete/avosubtitles</a> 
          - delete synchronisation job dryrun
        </li>
        <li> POST /delete/&lt;project>            
          - start a new delete synchronisation job
        </li>
        <br/>

        <li><a href="/diff/avosubtitles">GET /diff/avosubtitles</a> 
          - dryrun for delta followed by delete in one go for partial updates
        </li>
        <li> POST /diff/&lt;project>             
          - start delta job followed by a delete job
        </li>
        <br/>

        <li><a href="/sync/avosubtitles">GET /sync/avosubtitles</a> 
          - full synchronisation job dryrun
        </li>
        <li> POST /sync/&lt;project>             
          - start a new full synchronisation job
        </li>
        <br/>
      </ul>


      <h2>Example: Cataloguspro sync to SOLR </h2>
      <ul>
        <li><a href="/delta/cataloguspro">GET /delta/cataloguspro</a> 
           - delta synchronisation job dryrun
        </li>
        
        <li> POST /delta/&lt;project>             
          - start a new delta synchronisation job
        </li>
        <br/>

        <li><a href="/delete/cataloguspro">GET /delete/cataloguspro</a> 
          - delete synchronisation job dryrun
        </li>
        <li> POST /delete/&lt;project>            
          - start a new delete synchronisation job
        </li>
        <br/>

        <li><a href="/diff/cataloguspro">GET /diff/cataloguspro</a> 
          - dryrun for delta followed by delete in one go for partial updates
        </li>
        <li> POST /diff/&lt;project>             
          - start delta job followed by a delete job
        </li>
        <br/>

        <li><a href="/sync/cataloguspro">GET /sync/cataloguspro</a> 
          - full synchronisation job dryrun
        </li>
        <li> POST /sync/&lt;project>             
          - start a new full synchronisation job
        </li>
        <br/>
      </ul>

      <h2>Example: Metadatacatalogus / Hetarchief sync to SOLR </h2>
      <ul>
        <li><a href="/delta/metadatacatalogus">GET /delta/metadatacatalogus</a> 
           - delta synchronisation job dryrun
        </li>
        
        <li> POST /delta/&lt;project>             
          - start a new delta synchronisation job
        </li>
        <br/>

        <li><a href="/delete/metadatacatalogus">GET /delete/metadatacatalogus</a> 
          - delete synchronisation job dryrun
        </li>
        <li> POST /delete/&lt;project>            
          - start a new delete synchronisation job
        </li>
        <br/>

        <li><a href="/diff/metadatacatalogus">GET /diff/metadatacatalogus</a> 
          - dryrun for delta followed by delete in one go for partial updates
        </li>
        <li> POST /diff/&lt;project>             
          - start delta job followed by a delete job
        </li>
        <br/>

        <li><a href="/sync/metadatacatalogus">GET /sync/metadatacatalogus</a> 
          - full synchronisation job dryrun
        </li>
        <li> POST /sync/&lt;project>             
          - start a new full synchronisation job
        </li>
        <br/>
      </ul>


      <b> In above examples the environment 'qas' or 'prd' is determined by which
      syncrator-api pod you use.
      </b>
      <p>
      For prd you go to: <a href="http://syncrator-api-prd-shared-components.apps.do-prd-okp-m0.do.viaa.be/">http://syncrator-api-prd-shared-components.apps.do-prd-okp-m0.do.viaa.be/</a>
        <br/>
        and for qas you use : 
        <a href="http://syncrator-api-qas-shared-components.apps.do-prd-okp-m0.do.viaa.be/">http://syncrator-api-qas-shared-components.apps.do-prd-okp-m0.do.viaa.be/</a>
      </p>

      <h2>Starting generic job with POST request</h2>
      <ul>
        <li> POST /run             
          - start custom syncrator job by passing all 
          template parameters (target, env, action_name, action, is_tag, options)

          <h3>Example</h3>
          This and any of the above POST calls does actual work (fire up a syncrator pod to sync data). Therefore you need a valid authorization jwt token.
          <pre>
$ curl -X POST http://syncrator-api-qas-shared-components.apps.do-prd-okp-m0.do.viaa.be/run \
  -H 'Content-Type:application/json' \
  -H 'Authorization: Bearer YOUR_PERSONAL_TOKEN' \
  -d '{
    "target":"avo",
    "action_name": "delta",
    "action": "delta",
    "is_tag": "latest",
    "options": "-n 1000 -c 1"
    }'

          </pre>
          NOTE: api has changed recently. the "env" var is implicit now. it is set on the pod with SYNC_ENV variable to be qas or prd depending on which syncrator-api pod url you use. This determines which environment you are syncing for now. Which makes more sence. Also prd and qas have seperate databases used for syncing and displaying jobs. Qas is now totally seperated from prd.

        </li>
        <li> POST /dryrun          
          - dryrun custom job by passing all. 
          template parameters (target, env, action_name, action, is_tag, options)
          <h3>Example</h3>
Dryrun and get requests don't need a token so you can test your call before doing any real server changes. It does return the same output as for an actual run call
but does not start the actual pod to do the work in the background. Therefor a job_id wont be returned either.
          <pre>
$ curl -X POST http://syncrator-api-qas-shared-components.apps.do-prd-okp-m0.do.viaa.be/dryrun \
  -H 'Content-Type:application/json' \
  -d '{
    "target":"avo",
    "action_name": "delta",
    "action": "delta",
    "is_tag": "latest",
    "options": "-n 1000 -c 1"
    }'

          </pre>
        </li>
     </ul>


      <h2>Health check call</h2>
      <ul>
        <li> 
          <a href="/health/live"> GET /health/live </a> 
            - healthcheck route for openshift
        </li>
      </ul>

   </body>
</html> 
